@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */
*{
    margin: 0;
    padding: 0;
}
#hero{
    height: 919px;
    background-image:linear-gradient(0deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%),
    url("../assets/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hero .hero_content{
    width: 1023px;
}
#hero .hero_content .subtitle{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
    margin-bottom: 16px;
}
#hero .hero_content .title{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}
#hero .hero_content .description{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 32px;
}
.btn_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 21px 32px 21px 32px;border-radius: 8px;
    background: rgb(82, 195, 3);
    border: navajowhite;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
#card_box{
    width: 1320px;
    margin: 157px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
#card_box .info{
    width: 691px;
    margin-bottom: 38px;
}
#card_box .subtitle{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
    margin-bottom: 14px;
}
#card_box .title{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
}
#card_box .card_container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
}
#card_box .card_container .card img{
    width: 424px;
    height: 283px;
    border-radius: 16px;
    margin-bottom: 32px;
}
#card_box .card_container .card{
    width: 424px;
    height: 525px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#card_box .card_container .card .span{
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
    padding: 14px 32px 14px 32px;
    width: 187px;
    height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
}
#card_box .card_container .card h1{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px 0px 0px;
}
#card_box .card_container .card p{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin: 24px 0px 0px;
}
.card_btn{
    margin: 64px 0px 0px;
}
#about{
    display: flex;
}
#about .immage{
    width: 960px;
    height: 671px;
}
.immage , .info_parent{
    width: 50%;
}
.info_parent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info_child{
    width: 830px;
    height: 400PX;
    text-align: center;
}
.info_child h1{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}
.info_child p{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.6;
    text-align: center;
    margin-bottom: 48px;
}
.info_child .bor{
    box-sizing: border-box;
    border-bottom: 1px solid rgba(16, 16, 16, 0.2);
    border-top: 1px solid rgba(16, 16, 16, 0.2);
    margin-bottom: 32px;
}
.info_child .bor h4{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    margin: 30px 0;
}
.icons_parents{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons{
    width: 330.23px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.icons img{
    width: 44.25px;
}